// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'datepicker.scss'; //fix gradients

body
{
    background-color: #f6f8f9;
}

.card-body {
	padding-right: 0.5rem;
	padding-left: 0.5rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.card .reveal {
  visibility: hidden;
  opacity: 0;
  height: 0;
  padding: 0;
}

.card:hover .reveal {
  height: auto;
  visibility: visible;
  opacity: 10;
  transition: opacity 0.2s ease;
}

.title
{
    font-size:2rem;
}
