.navbar {
  background-color: white;
  padding: 0.1rem 7.5rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.nav-item {
  font-weight: 600;
  margin: 0 0 0 5px;
  padding: 8px 10px;
}
